<% if notice %>
<div id="notice" class="alert alert-success" role="alert">
  <p><%= notice %></p>
</div>
<% end %>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Listing users</b></div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <!-- <td><%= user.name %></td> -->
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <%= link_to 'Show', user, class: 'btn btn-default' %>
              <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <%= link_to 'New User', new_user_path, class: 'btn btn-success' %>
</div>

<br><br>
