<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>List of Orders</b></div>

  <!-- Table -->
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to 'Show', order, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-default' %>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <%= link_to 'New Order', new_order_path, class: 'btn btn-success' %>
</div>

<br><br>