<!DOCTYPE html>
<html>
<head>
  <title>Honolua Surf Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<%= render "layouts/header" %>
	<div id="main">
		<%= yield %>
	</div>
	<%= render "layouts/footer" %>
</body>
</html>
